@media (max-width: 480px) {
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      /* outline: 2px solid red; */
   }
   body,html{
 overflow-x: hidden;
   }
  nav {
    width: 100vw;
    flex-direction: column;
  }
  .left-nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .logo {
   padding: auto;
    font-size: small;
    position: relative;
    left: 1.5rem;
  }
  .srch-box {
   width: 90%;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  .left-nav input {
    width: 60%;
    height: 1.5rem;
    margin: 0 1px 0 0;
  }

  .btn{
   width: 25%;
    height: 1.5rem;
  }
  .right-nav {
   font-size: small;
    width: 100%;
    padding: 0.5rem 0;
    background-color: rgb(32, 46, 59);
    /* position: relative;
    bottom: 0.5rem; */
  }


  /* ----------------------------------------- */
 main{
  width: 100vw;
  
 }

  .landingpage{
    width: 100%;
    text-align: center;
    
   
  }

  .content-lp h1{
    width: 100%;
    font-size: 1.5rem;
  }

  .content-lp p{
    width: 100%;
    font-size: smaller;
  }
 marquee{
  font-size: smaller;
  padding: 0 0 1rem 0;
   
 }

 .btn-lp,.sn{
  font-size: small;
  width: 60%;

 }

 /* --------------------------------------------- */

.content-dt{
  width: 100%;
}

.c-dt1{
  width: 80%;
}

.c-dt1 h2 {
  font-size:1.1rem ;
}
.c-dt1 p{
  font-size: 1rem;
  line-height: 1rem;
}

footer{
  width: 100%;
  height: 2.5rem;
}
footer p{
  font-size: 0.6rem;
}




}





@media (min-width:480px) and (max-width:1200px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,html{
    overflow-x: hidden;
      }
     nav {
       width: 100vw;
     }
     .left-nav {
       width: 50%;
       display: flex;
       justify-content: center;
     }
     .logo {
      width: 50%;
       font-size: 0.9rem;
     }
     .srch-box {
       display: flex;
       justify-content: center;
       /* display: none; */
     }
     .left-nav input {
       width: 90%;
       height: 1.5rem;
       margin: 0 1px 0 0;
     }
   
     .btn{
      width: 30%;
       height: 1.5rem;
     }
     .right-nav {
      font-size: small;
       width: 50%;
       padding: 0.5rem 0;
       /* position: relative;
       bottom: 0.5rem; */
     }
     .right-nav ul li a{
         
     }
   
   
     /* ----------------------------------------- */
    main{
     width: 100vw;
     
    }
   
     .landingpage{
       width: 100%;
       text-align: center;
       
      
     }
   
     .content-lp h1{
       width: 100%;
       font-size: 2.5rem;
     }
   
     .content-lp p{
       width: 100%;
       font-size: 1.3rem;
     }
    marquee{
     font-size: smaller;
     padding: 0 0 1rem 0;
      
    }
   
    .btn-lp,.sn{
     font-size: 1.2rem;
     width: 10rem;
   
    }
   
    /* --------------------------------------------- */
   
   .content-dt{
     width: 100%;
   }
   
   .c-dt1{
     width: 80%;
   }
   
   .c-dt1 h2 {
     font-size:1.1rem ;
   }
   .c-dt1 p{
     font-size: 1rem;
     line-height: 1rem;
   }
   
   footer{
     width: 100%;
     height: 2.5rem;
   }
   footer p{
     font-size: 0.6rem;
   }
}